.checkout {
  padding: 0 10rem;
  .checkout_heading {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    margin: 1rem;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .user_details,
    .cart_details {
      width: 100%;
      text-align: center;
      margin: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 1rem;
    }

    .user_details,
    .cart_details {
      ul {
        li {
          list-style-type: none;
        }
      }
    }
  }
}
